<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="{% static '/css/page.css' %}" rel="stylesheet">
  </head>
  <body class="u-body">
    {% include "main/base.html"  %}
    <main class="main">
    <section class="u-clearfix u-section-1" id="carousel_126b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-42 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-20">
                <div class="u-layout-col">
                  <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                    <div class="u-container-layout">
                      <img src="{% static '/img/photo_2021-11-23_23-03-31.png' %}" class="u-align-left u-expanded-width u-image u-img-1" data-image-width="1280" data-image-height="720">
                    </div>
                  </div>
                  <div class="u-container-style u-hidden-sm u-hidden-xs u-layout-cell u-left-cell u-size-30 u-layout-cell-2">
                    <div class="u-container-layout"></div>
                  </div>
                </div>
              </div>
              <div class="u-size-40">
                <div class="u-layout-row">
                  <div class="u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-3">
                    <div class="u-container-layout">
                      <img src="{% static '/img/photo_2021-11-18_17-41-30.png' %}" class="u-align-left u-image u-image-2" data-image-width="1280" data-image-height="622">
                      <img src="{% static '/img/photo_2021-11-23_23-21-17.png' %}" class="u-align-left u-border-20 u-border-white u-image u-image-3" data-image-width="1280" data-image-height="720">
                      <img src="{% static '/img/photo_2021-11-23_23-06-15.png' %}" class="u-align-left u-border-20 u-border-white u-image u-image-4" data-image-width="1280" data-image-height="720">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-align-left u-container-style u-group u-group-1">
          <div class="u-container-layout u-container-layout-4">
            <h1 class="u-text u-text-1">Мастер-классы в лагерях&nbsp;<br>
            </h1>
            <p class="u-text u-text-2">Наши занятия и мастер-классы помимо главного здания проходят в Школах и Лицеях . На этих занятиях дети знакомятся с чем то новым , обучаются современным направлениям в области электроники программирования и 3D<br>
            </p>
          </div>
        </div>
      </div>
    </section>
    {% include "main/podval.html"  %}
    </main>
  </body>
</html>